In [1]:
import pandas as pd
import numpy as np

# APIs for accessing data
# NYC Open Data API
from sodapy import Socrata
import requests

# Set up client to access Socrata
# Example non-authenticated client
client = Socrata('data.cityofnewyork.us', None)

# 2014 - 2015 DOE High School Directory
results = client.get_all('n3p6-zve2')
# Convert to pandas DataFrame
hs_info = pd.DataFrame.from_records(results)

hs_info.info()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 69 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   dbn                               435 non-null    object
 1   school_name                       435 non-null    object
 2   boro                              435 non-null    object
 3   building_code                     435 non-null    object
 4   phone_number                      435 non-null    object
 5   fax_number                        435 non-null    object
 6   grade_span_min                    432 non-null    object
 7   grade_span_max                    435 non-null    object
 8   bus                               435 non-null    object
 9   subway                            435 non-null    object
 10  primary_address_line_1            435 non-null    object
 11  city                              435 non-null    object
 12  state_code                        435 non-null    object
 13  zip                               435 non-null    object
 14  website                           430 non-null    object
 15  total_students                    426 non-null    object
 16  campus_name                       435 non-null    object
 17  overview_paragraph                434 non-null    object
 18  program_highlights                434 non-null    object
 19  language_classes                  412 non-null    object
 20  advancedplacement_courses         340 non-null    object
 21  online_ap_courses                 64 non-null     object
 22  online_language_courses           73 non-null     object
 23  extracurricular_activities        435 non-null    object
 24  psal_sports_boys                  373 non-null    object
 25  psal_sports_girls                 373 non-null    object
 26  school_sports                     297 non-null    object
 27  partner_hospital                  197 non-null    object
 28  partner_highered                  378 non-null    object
 29  partner_nonprofit                 298 non-null    object
 30  partner_corporate                 200 non-null    object
 31  partner_financial                 73 non-null     object
 32  partner_other                     188 non-null    object
 33  addtl_info1                       354 non-null    object
 34  addtl_info2                       231 non-null    object
 35  start_time                        431 non-null    object
 36  end_time                          431 non-null    object
 37  se_services                       435 non-null    object
 38  ell_programs                      435 non-null    object
 39  school_accessibility_description  435 non-null    object
 40  number_programs                   435 non-null    object
 41  priority01                        435 non-null    object
 42  priority02                        352 non-null    object
 43  priority03                        243 non-null    object
 44  priority04                        177 non-null    object
 45  location_1                        435 non-null    object
 46  community_board                   432 non-null    object
 47  council_district                  432 non-null    object
 48  census_tract                      432 non-null    object
 49  bin                               431 non-null    object
 50  bbl                               431 non-null    object
 51  nta                               432 non-null    object
 52  :@computed_region_efsh_h5xi       434 non-null    object
 53  :@computed_region_f5dn_yrer       435 non-null    object
 54  :@computed_region_yeji_bk3q       435 non-null    object
 55  :@computed_region_92fq_4b7q       435 non-null    object
 56  :@computed_region_sbqj_enih       435 non-null    object
 57  psal_sports_coed                  147 non-null    object
 58  partner_cbo                       355 non-null    object
 59  partner_cultural                  307 non-null    object
 60  priority05                        39 non-null     object
 61  school_type                       104 non-null    object
 62  priority06                        17 non-null     object
 63  expgrade_span_min                 31 non-null     object
 64  expgrade_span_max                 33 non-null     object
 65  priority07                        4 non-null      object
 66  priority08                        1 non-null      object
 67  priority09                        1 non-null      object
 68  priority10                        1 non-null      object
dtypes: object(69)
memory usage: 234.6+ KB

In [2]:
from censusgeocode import CensusGeocode
import re
cg = CensusGeocode(benchmark='Public_AR_Current', vintage='Census2010_Current')


def return_tract(df):
    # use the census lookup to find the tract
    result = cg.address(df['primary_address_line_1'],
                        city=df['city'], state=df['state_code'], zip=df['zip'])
    # save the census tract when looking up the address
    try:
        tract_lookup = result[0]['geographies']['Census Tracts'][0]['TRACT']
        return tract_lookup
    except:
        print('\nFlag: ' + df['dbn'])
        print(df['primary_address_line_1'])
        print(df['city'] + ', ' + df['state_code'])
        print(df['zip'])
        print(df['census_tract'])
        return ''

In [3]:
# temp = hs_info.loc[hs_info['dbn'] == '29Q498']
# result = cg.address(temp.iloc[0]['primary_address_line_1'],
#                     city=temp.iloc[0]['city'], state=temp.iloc[0,]['state_code'], zip=temp.iloc[0]['zip'])

In [4]:
# temp[['school_name', 'primary_address_line_1', 'city', 'state_code', 'zip', 'census_tract']]

In [5]:
%%time
# temp = hs_info.iloc[10:12].copy()
temp = hs_info.copy()
temp['tract_lookup'] = temp.apply(return_tract, axis=1)

Flag: 29Q498
207- 01 116Th Avenue
Cambria Heights, NY
11411
53401

Flag: 02M551
550 Wheeler Avenue
Manhattan, NY
10004
nan

Flag: 25Q281
46-21 Colden Street
Flushing, NY
11355
845

Flag: 30Q301
1-50 51St Avenue
Long Island City, NY
11101
1

Flag: 27Q323
320 Beach 104Th Street
Rockaway Park, NY
11694
938

Flag: 27Q314
121-10 Rockaway Boulevard
Queens, NY
11420
840

Flag: 13K527
283 Adams Street
Brooklyn, NY
11201
11

Flag: 25Q525
149-11 Melbourne Avenue
Flushing, NY
11367
809

Flag: 12X248
1180 Rev. J.A. Polite Ave.
Bronx, NY
10459
131

Flag: 29Q492
207- 01 116Th Avenue
Cambria Heights, NY
11411
53401

Flag: 26Q315
230-17 Hillside Avenue
Queens Village, NY
11427
1301

Flag: 02M282
411 Peal Street
New York, NY
10038
nan

Flag: 26Q430
58-20 Utopia Parkway
Fresh Meadows, NY
11365
1417

Flag: 12X278
1180 Rev. J.A. Polite Ave.
Bronx, NY
10459
131

Flag: 02M489
100 Trinity Place
New York, NY
10006
13

Flag: 13K419
49 Flatbush Avenue Extension
Brooklyn, NY
11201
15

Flag: 28Q686
91-30 Metropolitan Avenue
Forest Hills, NY
11375
645

Flag: 29Q243
207- 01 116Th Avenue
Cambria Heights, NY
11411
53401

Flag: 26Q435
230-17 Hillside Avenue
Queens Village, NY
11427
1301

Flag: 13K439
49 Flatbush Avenue Extension
Brooklyn, NY
11201
15

Flag: 28Q167
91-30 Metropolitan Avenue
Forest Hills, NY
11375
645

Flag: 24Q610
45-30 36 Street
Long Island City, NY
11101
179

Flag: 13K350
49 Flatbush Avenue Extension
Brooklyn, NY
11201
15

Flag: 13K483
283 Adams Street
Brooklyn, NY
11201
11

Flag: 21K344
521 West Avenue
Brooklyn, NY
11224
354
CPU times: user 6.88 s, sys: 710 ms, total: 7.59 s
Wall time: 13min 37s

In [6]:
# create a guess of the six digit census tract. This can be used to check that the 
# tract lookup is correct, and find a census tract for any schools that we couldn't lookup
def six_digit_tract(df):
    # added as conditions later; these were formatted incorrectly using the code below
    # found after comparing the guessed tract names to the looked up tract names
    if (
        (df['dbn'] == '01M292')
        | (df['dbn'] == '01M448')
        | (df['dbn'] == '01M696')
        | (df['dbn'] == '01M539')
        | (df['dbn'] == '01M509')
    ):
        return df['census_tract'].zfill(6)
    else:
        if isinstance(df['census_tract'], str):
            if len(df['census_tract']) == 6:
                return df['census_tract']
            #if 4 digist return, assume that's the 4-digit basic code and pad with 00
            elif len(df['census_tract']) <= 4:
                return df['census_tract'].zfill(4).ljust(6, '0')
            elif len(df['census_tract']) == 5:
                return df['census_tract'].zfill(6)
        # manual edits for the few float instances of census_tract
        elif isinstance(df['census_tract'], float):
            if (df['dbn'] == '02M551') | (df['dbn'] == '02M282'):
                return ''
            # manually looked up tract for this school
            elif df['dbn'] == '06M552':
                return '025100'

temp['tract_guess'] = temp.apply(six_digit_tract, axis=1)

In [7]:
# here are the cases where the census tract listed is different than what you might guess
temp[['dbn', 'school_name', 'census_tract', 'tract_lookup', 'tract_guess']].loc[(temp['tract_lookup'] != temp['tract_guess']) & (temp['tract_lookup']!='')]

,dbn,school_name,census_tract,tract_lookup,tract_guess
48,19K404,Academy for Young Writers,1070,107800,107000
63,07X500,Hostos-Lincoln Academy of Science,73,007500,007300
70,32K168,The Brooklyn School for Math and Research,435,043900,043500
131,24Q550,High School for Arts and Business,43701,045500,043701
133,32K403,Academy for Environmental Leadership,435,043900,043500
160,13K674,"City Polytechnic High School of Engineering, A...",13,001500,001300
187,13K605,George Westinghouse Career and Technical Educa...,13,001500,001300
189,32K552,Academy of Urban Planning,435,043900,043500
190,19K422,Spring Creek Community School,1070,107800,107000
198,10X237,"The Marie Curie School for Medicine, Nursing, ...",273,027700,027300
199,10X225,Theatre Arts Production Company School,379,038302,037900
309,07X259,"H.E.R.O. High (Health, Education, and Research...",35,003100,003500
387,27Q480,John Adams High School,864,009400,086400
408,10X368,In-Tech Academy (M.S. / High School 368),29302,030900,029302
432,32K549,Bushwick School for Social Justice,435,043900,043500

In [8]:
# here are the ones that are missing when looking up the census tract
temp[[
    'dbn', 'school_name',
    'primary_address_line_1', 'city', 'state_code', 'zip',
    'census_tract', 'tract_lookup', 'tract_guess']].loc[temp['tract_lookup']=='']

,dbn,school_name,primary_address_line_1,city,state_code,zip,census_tract,tract_lookup,tract_guess
11,29Q498,Humanities & Arts Magnet High School,207- 01 116Th Avenue,Cambria Heights,NY,11411,53401,,053401
22,02M551,Urban Assembly New York Harbor School,550 Wheeler Avenue,Manhattan,NY,10004,NaN,,
23,25Q281,East-West School of International Studies,46-21 Colden Street,Flushing,NY,11355,845,,084500
36,30Q301,Academy for Careers in Television and Film,1-50 51St Avenue,Long Island City,NY,11101,1,,000100
87,27Q323,Scholars' Academy,320 Beach 104Th Street,Rockaway Park,NY,11694,938,,093800
94,27Q314,Epic High School – South,121-10 Rockaway Boulevard,Queens,NY,11420,840,,084000
105,13K527,Urban Assembly Institute of Math and Science f...,283 Adams Street,Brooklyn,NY,11201,11,,001100
108,25Q525,Townsend Harris High School,149-11 Melbourne Avenue,Flushing,NY,11367,809,,080900
110,12X248,"Metropolitan High School, The",1180 Rev. J.A. Polite Ave.,Bronx,NY,10459,131,,013100
121,29Q492,"Mathematics, Science Research and Technology M...",207- 01 116Th Avenue,Cambria Heights,NY,11411,53401,,053401
144,26Q315,Business Technology Early College High School,230-17 Hillside Avenue,Queens Village,NY,11427,1301,,130100
155,02M282,Urban Assembly Maker Academy,411 Peal Street,New York,NY,10038,NaN,,
161,26Q430,Francis Lewis High School,58-20 Utopia Parkway,Fresh Meadows,NY,11365,1417,,141700
220,12X278,Peace and Diversity Academy,1180 Rev. J.A. Polite Ave.,Bronx,NY,10459,131,,013100
224,02M489,High School of Economics and Finance,100 Trinity Place,New York,NY,10006,13,,001300
236,13K419,"Science Skills Center High School for Science,...",49 Flatbush Avenue Extension,Brooklyn,NY,11201,15,,001500
254,28Q686,QUEENS METROPOLITAN HIGH SCHOOL,91-30 Metropolitan Avenue,Forest Hills,NY,11375,645,,064500
264,29Q243,Institute for Health Professions at Cambria He...,207- 01 116Th Avenue,Cambria Heights,NY,11411,53401,,053401
295,26Q435,Martin Van Buren High School,230-17 Hillside Avenue,Queens Village,NY,11427,1301,,130100
337,13K439,Brooklyn International High School,49 Flatbush Avenue Extension,Brooklyn,NY,11201,15,,001500
373,28Q167,Metropolitan Expeditionary Learning School,91-30 Metropolitan Avenue,Forest Hills,NY,11375,645,,064500
388,24Q610,Aviation Career & Technical Education High School,45-30 36 Street,Long Island City,NY,11101,179,,017900
412,13K350,Urban Assembly High School of Music and Art,49 Flatbush Avenue Extension,Brooklyn,NY,11201,15,,001500
415,13K483,The Urban Assembly School for Law and Justice,283 Adams Street,Brooklyn,NY,11201,11,,001100
434,21K344,Rachel Carson High School for Coastal Studies,521 West Avenue,Brooklyn,NY,11224,354,,035400

In [9]:
# create final version of tract var; defaulting currently to tract guess
def check_tract(df):
#     if bool(re.search(df['census_tract'], df['tract_lookup'])):
    if isinstance(df['census_tract'], str):
        if df['census_tract'] in df['tract_lookup']:
            return df['tract_lookup']
        else:
            return df['tract_guess']
    return df['tract_guess']

In [10]:
temp['tract'] = temp.apply(check_tract, axis=1)

In [11]:
temp[['dbn', 'tract', 'tract_lookup', 'tract_guess', 'boro']].to_csv('dbn_tract_lookup.csv', index=False)

In [12]:
temp[['dbn', 'census_tract', 'tract', 'tract_lookup', 'tract_guess']]

        dbn census_tract   tract tract_lookup tract_guess
0    27Q260       100802  100802       100802      100802
1    21K559          306  030600       030600      030600
2    16K393          291  029100       029100      029100
3    08X305           16  001600       001600      001600
4    03M485          151  015100       015100      015100
..      ...          ...     ...          ...         ...
430  02M300          135  013500       013500      013500
431  09X412          225  022500       022500      022500
432  32K549          435  043500       043900      043500
433  02M407           48  004800       004800      004800
434  21K344          354  035400                   035400

[435 rows x 5 columns]